#Mimozas
{
  text-align: center;
  padding-top: 20px;
  padding-bottom:20px;
}

#Tulipe
{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
}

#Rose
{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

body {
  background-color: #ebe6ff;
}

footer{
  font-family: "Great Vibes", cursive;
  font-size:40pt;
  text-align:center;
}

footer a{
	padding: 0px 15px 0px 8px;
	color:darkblue;
	text-decoration:none;
	border: 1px solid black ;
	border-radius: 0.5em 0.5em 0.5em 0.5em ;
	background-color:#ddff99;
}
h1
{
  text-align: center;
  border-bottom: solid black 2px;
}

header h1{

  margin-left: 35%;
  margin-right:35%;
  padding :10px 25px 5px 38px;
  font-family: "Great Vibes", cursive;
  font-size:52pt;
	border: 4px solid black ;
	border-radius: 0.5em 0.5em 0.5em 0.5em ;
}

header {
  padding: 5% 0% 3% 0%;
  background-image: url("assets/test2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

header .search{
  float : right;
}

header img {
  height: 3em;
  position:absolute;
  top:9px;
}

header a{
  font-family: "Great Vibes", cursive;
  font-size: 19pt;
  color:darkblue ;
  position:absolute;
  top: 1%;
  right: 2%;
}

Description
{
  text-align: center;
}
