footer{
  font-family: "Great Vibes", cursive;
  font-size:40pt;
  text-align:center;
}

footer a{
	padding: 0px 15px 0px 8px;
	color:darkblue;
	text-decoration:none;
	border: 1px solid black ;
	border-radius: 0.5em 0.5em 0.5em 0.5em ;
	background-color:#ddff99;
}
header h1{
  
  margin-left: 35%;
  margin-right:30%;
  padding :10px 25px 5px 38px;
  font-family: "Great Vibes", cursive;
  font-size:52pt;
	border: 4px solid black ;
	border-radius: 0.5em 0.5em 0.5em 0.5em ;
}

header {
  padding: 5% 0% 3% 0%;
  background-image: url("assets/test2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

header .search{
  float : right;
}

header img {
  height: 3em;
  position:absolute;
  top:9px;
}

header a{
  font-family: "Great Vibes", cursive;
  font-size: 19pt;
  color:darkblue ;
  position:absolute;
  top: 1%;
  right: 2%;
}

div img{
  height:20em;
  float: right;
  margin:2em;
  
}

p {
  text-align: justify;
  margin-left:2em;
  width:95%;
  font-family: "Great Vibes", cursive;
  font-size:22pt;
}

body {
  background-color: #ebe6ff;
}

@media screen and (max-width: 1280px)
{
  header h1{
    margin-left:10%;
    margin-right:10%;
  }
  
  p{
    max-width: 90%;
    margin-left:10px;
  }
}